.hero-banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.hero-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}

.hero-banner-text h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero-banner-text p {
  font-size: 20px;
}


